@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Quicksand';
  color: #3A4038;
}

/* use this font for titles */
.title-font {
  font-family: 'Nunito';
}

/* use this font for khmer texts */
.khmer-font {
  font-family: 'Bayon';
}

/* use this color for green text */
.main-color {
  @apply text-[#429818];
}

.khmer-font-content {
  font-family:  'Kantumruy Pro';
}